body{
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);;
}
.navbar-brand{
    font-family: 'Delicious Handrawn', cursive;
    margin-top: 8px;
    font-weight: 700;
}
.navbar-collapse{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;

  
}
.ctName{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    color: white;
}
h4{
    font-family: 'Montserrat', sans-serif;
    

}
.list-unstyled{
    font-family: 'Montserrat', sans-serif;
    

}
.block2{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    color: white;
}
.table{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#submit{
    color:white;
}